DATABASE_URL="postgresql://postgres:password@localhost:5432/newsscroll?schema=public"

JWT_SECRET="your-super-secret-jwt-key-change-in-prod"
GROQ_API_KEY="your-groq-api-key"
NEWSDATA_API_KEY="your-newsdata-api-key"
AI_PROVIDER="groq" # or "ollama"
NEWSAPI_KEY="your-newsapi-key"
